body{
    text-align: center;
    background-color: #FEFFF0;
}

form{
    font-size: 18px;
}

h1 {
    color:#222222;
    font-size: 25px;
    text-align: center ;
}

.check{
    color:#222222;
    font-size: 45px;
    text-align: center ;
}

table{
    text-align: left;
    font-size: 18px ;
    border-collapse: collapse;
    border: 1px solid black ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
    table-layout: fixed ;
    word-wrap: break-word;
}


.button1:hover, .buttonL:hover, .buttonR:hover{
    opacity:0.8;
}

.button1{
    text-align:center;
    font-size:18px;
    width:150px;
    height:50px;
    background-color:orange;
    border: none ;
    color:white;
}

.buttonL {
    font-size:18px;
    margin-right:80px;
    margin-top:10px;
    width:150px;
    height:50px;
    background-color:#999999;
    border: none ;
    color:white;
}
.buttonR {
    font-size:18px;
    margin-left:80px;
    margin-top:10px;
    width:150px;
    height:50px;
    background-color:orange;
    border: none ;
    color:white;
}

td{
    border-collapse: collapse;
    border: 1px solid black ;
    height: 30px ;
    background-color: white ;
    padding: 10px ;
    width: 20% ;
    word-wrap: break-word;
}

td.value{
    text-align: center ;
    margin-left: 5px ;
    width: 80% ;
    word-wrap: break-word;
}

.header{
    color:#FFC000;
    font-size: 25px;
}